/*importing font from google font*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

#wrapper{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: aquamarine
}

nav{
    width: 90%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a{
    text-decoration: none;
    padding: 0.3rem 1.3rem;
    font-size: 17px;
    font-weight: bold;
    color: #494234;
    position: relative;
    z-index: 1;
}
nav ul li p{
    margin-right: 500px;
    font-size: 30px;

}

nav ul li a::after{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 20px;
    background-color: #c8ebb1;
    z-index: -1;
    transition: 0.5s;
}
nav ul li a:hover:after{
    width: 100%;  
}

/* Body - section  */
.body-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.body-section h2 {
  font-weight: 600;  
  font-size: 30px;
}
.body-section input{
    display: flex;
    border-radius: 15px;
    padding: 10px;
    justify-content: space-between;
}
.input{
    margin-top: 35px;
}

#dropbox{
    padding: 10px;
    border-radius: 15px;
    width: 180px;
}

#Login-btn{
    margin-top: 2.5rem;
    outline: none;
    background-color:#494234 ;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    border-radius: 15px;
    color: white;
    position: relative;
    z-index: 1;
}

#Login-btn::before{
    content: "";
    background-color: blue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
}

#Login-btn:hover::before{
    transform: scaleX(1);
    transition: 0.8s;
}
